<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <!--Web Service地址 -->
    <add key="sourceAddress" value="c:/Clasp32/clarity.xls"/>
    <add key="FileFolder" value="d:/HealthFiles/"/>
  </appSettings>
</configuration>
