<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="gmWebServletSoapBinding" />
        <binding name="gmWebServletSoapBinding1" />
        <binding name="gmWebServletSoapBinding2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.shilebang.cn/YUYUE/ws/GmWebServlet" binding="basicHttpBinding" bindingConfiguration="gmWebServletSoapBinding" contract="KGMWebService.GmWebServlet" name="GmWebServletImplPort" />
      <endpoint address="http://www.lchh.com/BRK/ws/GmWebServlet" binding="basicHttpBinding" bindingConfiguration="gmWebServletSoapBinding1" contract="KGMWebService.GmWebServlet" name="GmWebServletImplPort1" />
      <endpoint address="http://www.shilebang.cn/YUYUE/ws/GmWebServlet" binding="basicHttpBinding" bindingConfiguration="gmWebServletSoapBinding2" contract="KGMWebService.GmWebServlet" name="GmWebServletImplPort2" />
    </client>
  </system.serviceModel>
  <appSettings>
    <!--Web Service地址 -->
    <add key="WSAddress" value="http://www.lchh.com/BRK/ws/GmWebServlet?wsdl" />
    <add key="adminAddress" value="http://www.lchh.com/BRK/a" />
    <add key="sourceAddress" value="c:/Clasp32/clarity.xls" />
    <add key="FTPIP" value="119.97.193.122" />
    <!--<add key="FTPIP" value="192.168.7.54"/> -->
    <add key="FTPDirectory" value="/brk/" />
    <add key="FTPID" value="vstar" />
    <add key="FTPPWD" value="kgm123" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>