<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="WSAddress" value="http://www.lchh.com/GM/ws/GmWebServlet?wsdl"/>
    <add key="sourceAddress" value="c:/Clasp32/clarity.xls"/>
    <add key="sheet2" value="352"/>
    <add key="sheet3" value="10398"/>
    <add key="connectionstring" value="server=127.0.0.1;uid=sa;pwd=vstar168;database=djk"/>
    </appSettings>
</configuration>