<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionstring" value="server=127.0.0.1;uid=sa;pwd=vstar168;database=djk"/>
    <add key="info" value="332"/>
    <add key="matrix" value="10766"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DataServiceSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.5.96:807/dataservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="DataServiceSoap"
        contract="DataService.DataServiceSoap" name="DataServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>