<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="gmWebServletSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.lchh.com/GM/ws/GmWebServlet" binding="basicHttpBinding"
                bindingConfiguration="gmWebServletSoapBinding" contract="KGMWebService.GmWebServlet"
                name="GmWebServletImplPort" />
        </client>
    </system.serviceModel>
  <appSettings>
    <!--Web Service地址 -->
    <add key="WSAddress" value="http://www.lchh.com/GM/ws/GmWebServlet?wsdl"/>
    <add key="adminAddress" value="http://www.lchh.com/GM/a"/>
    <add key="sourceAddress" value="c:/Clasp32/clarity.xls"/>
    <add key="FTPIP" value="119.97.193.122" />
    <add key="FTPDirectory" value="/kgm/" />
    <add key="FTPID" value="kgm" />
    <add key="FTPPWD" value="kgm123" />

  </appSettings>
</configuration>