<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WSAddress" value="http://www.shilebang.cn/HY/ws/GmWebServlet?wsdl"/>
    <add key="ControlAddress" value="http://www.shilebang.cn/jkInter/jcs/jcs!jcsSend.action"/>
    <add key="StatusAddress" value="http://www.shilebang.cn/jkInter/jcs/jcs!jcsEnd.action"/>
    <add key="OperatorIP" value="127.0.0.1"/>
    <add key="OperatorPort" value="32033"/>
    <add key="LocalIP" value="127.0.0.1"/>
    <add key="LocalPort" value="32033"/>
    <add key="sourceAddress" value="c:/Clasp32/clarity.xls" />
    <add key="FTPIP" value="119.97.193.122" />
    <add key="FTPDirectory" value="/brk/" />
    <add key="FTPID" value="vstar" />
    <add key="FTPPWD" value="kgm123" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="FileFolder" value="d:/HealthFiles/"/>
    <add key="TestTimeOut" value="45/"/>
    <add key="HideShow" value="1/"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="gmWebServletSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.lchh.com/HY/ws/GmWebServlet" binding="basicHttpBinding"
        bindingConfiguration="gmWebServletSoapBinding" contract="KGMWebService.GmWebServlet"
        name="GmWebServletImplPort" />
    </client>
  </system.serviceModel>
</configuration>